Repository nick-ohhh/dynamic-config-build: changes, and which CircleCI parameters are due for each by the changed paths.
All: app, api, auth, unit

test
  packages/api/README.md
Due: api

test: app build
  packages/app/README.md
Due: app

test: updated versioning
  .circleci/continue_config.yml
Due: none

test
  packages/api/README.md
  packages/app/README.md
Due: app, api

test: orb usage
  .circleci/continue_config.yml
  .gradle/6.5/fileChanges/last-build.bin
  .gradle/6.5/fileHashes/fileHashes.lock
  .gradle/6.5/gc.properties
  packages/api/README.md
Due: api

fix: orb command location
  .circleci/continue_config.yml
Due: none

test: orb usage
  .circleci/continue_config.yml
  packages/auth/README.md
Due: auth

test build
  .circleci/continue_config.yml
Due: none

test build
  packages/app/README.md
Due: app

undersized resource failure test
  .circleci/continue_config.yml
  .gitignore
Due: none

orb version context test
  .circleci/continue_config.yml
  packages/api/README.md
Due: api

orb version context test2
  .circleci/continue_config.yml
  packages/api/README.md
Due: api

orb version context test3
  .circleci/continue_config.yml
  packages/api/README.md
Due: api

Path conditions:
  app: any of: packages/app/.*
  api: any of: packages/api/.*
  auth: any of: packages/auth/.*
  unit: any of: packages/unit/.*
